<include file="Public/header"/>
	<link href="__PUBLIC__/Home/css/index2.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="__PUBLIC__/Home/js/Calculation.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.2.min.js"></script>
    <div class="store-wrap">
    <div class="crumbs">
        <a href="{:U('Home/Index/index')}">首页&gt;</a>
        <a href="{:U('Home/Index/index')}">我的商城&gt;</a>
        <a href="" class="active">My购物车</a>
    </div>
</div>
<div id="tableList" class="type-contain ui-load-container">
			<div class="ui-load-content J_no_data">
				<p class="J_no_data_des">您的购物车是空的，赶快去购物吧！</p>
				<div style="width:500px;margin-left:470px;"><img width="400px" src="__PUBLIC__/Home/images/11.png" /></div>
			</div>
</div>
<include file="Public/footer"/>