<include file="Public/header"/>
<div class="blank5"></div>
<div style="margin-left:100px;margin-right:100px;padding-left:20px;padding-right:20px;">
    <div style="margin-top:20px;width:1040px;height:80px;line-height:80px;border-bottom:2px solid #D0D0D0;font-size:20px;font-weight:bold;">关于魅族</div>
    <div style="padding-top:60px;padding-bottom:60px;">
        <div >
            <div style='padding-bottom:25px;'>
                <img src='__PUBLIC__/Home/images/about_1_4fdaece.jpg' alt="魅族总部大楼"/>
            </div>
            <div style='width:100%;padding-bottom:25px;display:block;overflow: hidden;'>
                <div style='float:left;'>
                    <div><img src='__PUBLIC__/Home/images/about_2_6554945.jpg' /></div>
                </div>
                <div>
                    <div style='line-height:28px;float: left;text-indent: 26px;width: 482px;word-wrap: break-word;overflow:hidden;display: block;margin-left:40px;'>魅族公司成立于2003年。创始人从小沉迷电子热爱科技，魅族就是电子梦想和共赢理念的结晶。从创立以来的一次次飞跃不仅是魅族人热爱追求的结果，更是梦想力量的体现。</div>
                    <div style='line-height:28px;float: left;text-indent: 26px;width: 482px;word-wrap: break-word;padding-top:24px;overflow:hidden;display: block;margin-left:40px;'>人们就好像相近配置的计算机。同为满负荷运转，多任务且不断终止和新启进程的，远不如持续运行单任务的运算量。 而人只有不变的热爱才能排除复杂的干扰，始终如一的为追求不变的热爱而付出，创造更大价值带来更多的财富。那不变的热爱就是梦想。</div>
                    <div style='line-height:28px;float: left;text-indent: 26px;width: 482px;word-wrap: break-word;padding-top:24px;overflow:hidden;display: block;margin-left:40px;'>魅族因梦想而立。热爱而极致，专注和长久的追求，必将带来商业产品无与伦比的梦想之作。魅族的一切将超越常规，超乎想象。</div>
                </div>
            </div>
            <img src='__PUBLIC__/Home/images/about_3_2431f25.jpg' />
        </div>
    </div>
</div>

<include file="Public/footer"/>