@charset "UTF-8";.mz-btn, .mz-input {
    transition: all 0.5s ease 0s;
}
@font-face {
    font-family: "order-font";
    src: url("../font/iconfont-4ef5ad7138.eot#iefix") format("embedded-opentype"), url("../font/iconfont-de02d0733f.woff") format("woff"), url("../font/iconfont-4c351190fd.ttf") format("truetype"), url("../font/iconfont-198954feaf.svg#iconfont") format("svg");
}
.order-font {
    font-family: order-font !important;
    font-size: 16px;
    font-style: normal;
}
.order-font.payment-success::before {
    content: "";
}
.order-font.reflash::before {
    content: "";
}
.order-header {
    background-color: #fff;
    height: 74px;
    line-height: 74px;
    margin-top: 10px;
}
.order-header::after, .order-header::before {
    content: " ";
    display: table;
}
.order-header::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.order-header .order-header-title {
    float: left;
    font-size: 24px;
    margin-left: 45px;
}
.order-header .order-header-bread {
    float: right;
    margin-right: 60px;
}
.order-header .order-header-bread .order-header-bread-block {
    color: #999;
    float: left;
    font-size: 14px;
}
.order-total .order-total-price, .order-total .order-total-row.order-total-valid-row .mz-btn {
    float: right;
}
.order-header .order-header-bread .order-header-bread-block::after {
    content: ">";
    margin: 0 10px;
}
.order-header .order-header-bread .order-header-bread-block:last-child::after {
    content: "";
    margin: 0;
}
.order-header .order-header-bread .order-header-bread-block.active {
    color: #00c3f5;
}
.order {
    background-color: #f5f5f5;
}
.order *, .order *::after, .order *::before {
    box-sizing: border-box;
}
.order-total {
    background-color: #fff;
    color: #898989;
    margin: 10px auto 38px;
    overflow: hidden;
    padding: 30px;
}
.order-total .order-total-content {
    float: right;
    width: 318px;
}
.order-total .order-total-row {
    margin-bottom: 20px;
    padding: 0 2px;
}
.order-total .order-total-row.order-total-valid-row {
    font-size: 0;
    margin-bottom: 5px;
    padding-right: 0;
}
.order-total .order-total-row.order-total-row-tips {
    color: #e02b41;
    font-size: 12px;
    height: 20px;
}
.order-total .order-total-discount {
    display: none;
}
.order-total .order-total-price::before {
    content: "￥";
}
.order-total .order-total-price.sub {
    color: #e02b41;
}
.order-total .order-total-price.sub::before {
    content: "-￥";
}
.order-total .order-total-price.total {
    color: #e02b41;
    font-size: 20px;
    font-weight: bolder;
}
.order-total .order-total-line {
    background-color: #efefef;
    height: 1px;
    margin-bottom: 20px;
    width: 100%;
}
.order-total .order-total-valid-input {
    background-color: #fff;
    border: 1px solid #efefef;
    font-size: 12px;
    height: 30px;
    margin-right: 0;
    outline: 0 none;
    padding: 0 10px;
    width: 196px;
}
.order-total .order-total-valid-image {
    cursor: pointer;
    height: 30px;
    width: 80px;
}
.order-total .order-total-tips {
    color: #e02b41;
}
.order-total .order-total-tips::before {
    content: "*";
}
.order-total .order-total-valid {
    float: left;
    margin-right: 14px;
    position: relative;
    width: 200px;
}
.order-total .order-total-valid .mz-captcha-input {
    left: 0;
    position: absolute;
    top: 0;
    width: 210px;
}
.order-total .order-total-submit-row {
    text-align: right;
}
.mz-mask {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.mz-dialog {
    background-color: #fff;
    border-radius: 4px;
    left: 50%;
    line-height: normal;
    margin-left: -250px;
    margin-top: -120px;
    min-height: 240px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 500px;
}
.mz-dialog .mz-dialog-header {
    border-bottom: 1px solid #efefef;
    border-radius: 4px 4px 0 0;
    color: #333;
    font-size: 18px;
    font-weight: bolder;
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: center;
}
.mz-dialog .mz-dialog-header .mz-dialog-close {
    color: #bdbdbd;
    cursor: pointer;
    height: 15px;
    position: absolute;
    right: 26px;
    top: 18px;
    transition: all 0.5s ease 0s;
    width: 15px;
}
.mz-dialog .mz-dialog-header .mz-dialog-close:hover {
    color: #efefef;
}
.mz-dialog .mz-dialog-header .mz-dialog-close::after {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPBAMAAADJ+Ih5AAAAJ1BMVEUAAAC2tra2trbHx8e2tra3t7e2tra1tbW2tra3t7e5ubm3t7e1tbUT/4dnAAAADHRSTlMA1BUHvSfm3bJDFmCH7ULuAAAAYUlEQVQIHQXBIRICIQAAwB1oRsYmAcYPXOAZBILJZuAxzth9DwXLPcpdj4L4pie036GuIvZJyEnbA3Xd+4RLvu4B6jmBdiYQ+2sVaPuZE2Kf6iq0PYSc+EzUdfgOhBsRHP6yIRShHQi/pQAAAABJRU5ErkJggg==");
    content: "";
    font-weight: bolder;
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
    width: 15px;
}
.mz-dialog .mz-dialog-content {
    display: table;
    min-height: 64px;
    padding: 30px;
    width: 440px;
    word-break: break-all;
    word-wrap: break-word;
}
.mz-dialog .mz-dialog-content .mz-dialog-content-main {
    color: #999;
    display: table-cell;
    font-size: 14px;
    line-height: 22px;
    vertical-align: middle;
}
.mz-dialog .mz-dialog-content .mz-dialog-content-title {
    color: #333;
    font-size: 18px;
    text-align: center;
}
.mz-btn, .mz-captcha-input {
    cursor: pointer;
    font-size: 14px;
}
.mz-dialog .mz-dialog-bottom {
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}
.mz-dialog .mz-dialog-bottom .mz-btn {
    margin-right: 10px;
}
.mz-dialog .mz-dialog-bottom .mz-btn:last-child {
    margin-right: 0;
}
.mz-dialog.dialog .mz-dialog-content-main, .mz-dialog.tips .mz-dialog-content-main {
    text-align: center;
}
.mz-dialog.msg {
    height: 586px;
    margin-left: -395px;
    margin-top: -293px;
    width: 790px;
}
.mz-dialog.msg .mz-dialog-content {
    display: block;
    height: 455px;
    overflow: auto;
    padding: 40px 100px;
    width: 590px;
}
.mz-dialog.msg::after, .mz-dialog.msg::before {
    content: "";
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    width: 100%;
}
.mz-dialog.msg::before {
    top: 51px;
}
.mz-dialog.msg::after {
    bottom: 0;
}
.mz-btn, .mz-captcha-input, .mz-captcha-shield, .mz-loading {
    display: inline-block;
}
.mz-loading-mask {
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    position: absolute;
    top: 0;
    z-index: 9999;
}
.mz-loading {
    height: 40px;
    left: 50%;
    line-height: 40px;
    margin-left: -50px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100px;
}
.mz-loading.image {
    background-image: url("../img/loading-b50af49b41.gif");
    background-position: center center;
}
.mz-loading.spinner .mz-bounce {
    animation: 1.4s ease-in-out 0s normal both infinite running sk-bouncedelay;
    background-color: #00c3f5;
    border-radius: 100%;
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    width: 20px;
}
.mz-loading.spinner .mz-bounce:last-child {
    margin-right: 0;
}
.mz-loading.spinner .mz-bounce1 {
    animation-delay: -0.32s;
}
.mz-loading.spinner .mz-bounce2 {
    animation-delay: -0.16s;
}
@keyframes sk-bouncedelay {
0%, 100%, 80% {
    transform: scale(0);
}
40% {
    transform: scale(1);
}
}
.mz-btn {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    line-height: 34px;
    min-height: 34px;
    min-width: 98px;
    outline: 0 none;
    text-align: center;
    vertical-align: middle;
}
.mz-btn.primary {
    background-color: #fff;
    border-color: #00c3f5;
    color: #00c3f5;
}
.mz-btn.primary:hover {
    border-color: #40d2f8;
    color: #40d2f8;
}
.mz-btn.primary:active {
    border-color: #08aee2;
    color: #08aee2;
}
.mz-btn.success {
    background-color: #00c3f5;
    border-color: #00c3f5;
    color: #fff;
}
.mz-btn.success:hover {
    background-color: #40d2f8;
    border-color: #40d2f8;
}
.mz-btn.success:active {
    background-color: #08aee2;
    border-color: #08aee2;
}
.mz-btn.warning {
    background-color: #f66567;
    border-color: #f66567;
    color: #fff;
}
.mz-btn.warning:hover {
    background-color: #ff8284;
    border-color: #ff8284;
}
.mz-btn.warning:active {
    background-color: #da5658;
    border-color: #da5658;
}
.mz-btn.cancel {
    background-color: #efefef;
    border-color: #efefef;
    color: #999;
}
.mz-btn.cancel:hover {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
}
.mz-btn.cancel:active {
    background-color: #dfdfdf;
    border-color: #dfdfdf;
}
.mz-btn.xs {
    line-height: 22px;
    min-height: 22px;
    min-width: 68px;
}
.mz-btn.m, .mz-btn.s {
    line-height: 34px;
    min-height: 34px;
}
.mz-btn.s {
    min-width: 88px;
}
.mz-btn.m {
    min-width: 98px;
}
.mz-btn.l {
    line-height: 38px;
    min-height: 38px;
    min-width: 128px;
}
.mz-btn.xl {
    line-height: 44px;
    min-height: 44px;
    min-width: 158px;
}
.mz-captcha-shield {
    background-color: #00c3f5;
    border-radius: 100%;
    height: 16px;
    position: relative;
    vertical-align: sub;
    width: 16px;
}
.mz-captcha-shield::after, .mz-captcha-shield::before {
    border-left: 3px solid transparent;
    border-radius: 50px;
    border-right: 9px solid transparent;
    border-top: 6px solid #fff;
    content: "";
    height: 0;
    left: 3px;
    position: absolute;
    top: 6px;
    transform: rotate(-15deg);
    width: 0;
}
.mz-captcha-input, .mz-captcha-open {
    background-color: #fff;
    outline: 0 none;
    width: 318px;
}
.mz-captcha-shield::after {
    border-top-color: #00c3f5;
    top: 4px;
}
.mz-captcha-input {
    -moz-user-select: none;
    border: 1px solid #efefef;
    color: #999;
    height: 36px;
    line-height: 36px;
    text-indent: 10px;
    vertical-align: middle;
}
.mz-captcha-input.focus {
    border-color: #bdbdbd;
    color: #666;
}
.mz-captcha-input.validated {
    color: #666;
}
.mz-captcha-input .mz-captcha-shield {
    color: transparent;
    margin-right: 5px;
}
.mz-captcha-open {
    border: 1px solid #bdbdbd;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
    color: #666;
    position: absolute;
}
.mz-captcha-open .mz-captcha-open-top {
    line-height: 35px;
    margin: 10px auto;
    width: 300px;
}
.mz-captcha-open .mz-captcha-open-top::after, .mz-captcha-open .mz-captcha-open-top::before {
    content: " ";
    display: table;
}
.mz-captcha-open .mz-captcha-open-top::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.mz-captcha-open .mz-captcha-tips {
    float: left;
    font-size: 12px;
}
.mz-captcha-open .mz-captcha-tips.error {
    color: #e02b41;
}
.mz-captcha-open .mz-captcha-read {
    float: right;
    height: 35px;
    overflow: hidden;
    position: relative;
    width: 115px;
}
.mz-captcha-open .mz-captcha-read .mz-captcha-img {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 210px;
}
.mz-captcha-open .mz-captcha-open-center {
    height: 154px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 300px;
}
.mz-captcha-open .mz-captcha-click-box, .mz-captcha-open .mz-captcha-click-img, .mz-captcha-open .mz-captcha-click-img .mz-captcha-img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.mz-captcha-open .mz-captcha-click-img {
    height: 100%;
    z-index: 1;
}
.mz-captcha-open .mz-captcha-click-box {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=");
    height: 100%;
    overflow: hidden;
    z-index: 2;
}
.mz-captcha-open .mz-captcha-click-box .mz-captcha-click-point {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    width: 40px;
}
.mz-captcha-open .mz-captcha-click-box .mz-captcha-click-point::after {
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    content: attr(data-index);
    font-size: 16px;
    height: 26px;
    left: 5px;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 26px;
}
.mz-captcha-open .mz-captcha-open-bottom {
    line-height: 36px;
    margin: 10px auto;
    width: 300px;
}
.mz-captcha-open .mz-captcha-open-bottom::after, .mz-captcha-open .mz-captcha-open-bottom::before {
    content: " ";
    display: table;
}
.mz-captcha-open .mz-captcha-open-bottom::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.mz-captcha-open .mz-captcha-reload, .mz-input, .mz-input-warp {
    display: inline-block;
    vertical-align: middle;
}
.mz-captcha-open .mz-captcha-reload {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAACqElEQVRIx63WX4hVVRTH8c8dp6AEwf5CkPTYWFkYDZIU1pJeeygICsJMi/IPihAk/ZlSCoL+MKGBTD6Yj+WzoMsgMUlhoLSmF18KoSiDpF4yq4ez77C5zR2P9/qDA/usvfb+3r3uWWvtjpbKzLvxAB7GGG7AApzDDA7j84g41Wa/TkvgJjzb8jfuwWREfDswODMfKxtd1zYyRb/g5Yj4uJ/DyCU2eKMHehKvYDWWlmcVtmO68rsRU5m5Y9ATT2AbzuJt7IuIf/v4dvA03sSSamprRHxwWeCy4QrMRMTvbWKcmbfiU4wX0194MCK+mhecmQsi4mIbyDzwRTiCe4vpS6yKiAtdn5GeBTtKqIZSRJzHC+W0cD8eqX1mwZk5pvlwXirjYeEnMVmZ1v0PnJmjldMoJjPzqmHh+AR/lvHKzLyp98TrNCnS1WqsvQLg05oUpKl0K2fBmbkMu+dY9FGpWgMrIv7B1+W1g9kTj+IJnMH1WFzsv2lq8JPVwtYqOb0Uf+DaauqOzLwNC0ewt4RgX+Wwv9j2DHHg53GsHKyrZ4ptzWweZ+aL2FVe34uIbcOEufyF05oOVusCltd5/BO65XB5CdfAiohvsGGOqU0RcboGH8OvZTyOZcOAi/Zq+nRXhzBFVUAi4mdNaaP5IJ4allpK5Gb8XUybu+W4ty1OVeONmXnPFYDP4B3sjIjvu/Ze8EF8UcbXaHrqomHheC0iXq0Nc3WncRzF1cV0Ao9HxI9tCJm5GLdHxPH5/Dp9Fm/B+5XpB00D2d/iIrAdt+DdiJi4LHDZaAKv95in8RmOa9JPgazAo7iv8j0VEX0z41JXn7V4Cze3CXOlc3guIg4MBC7wMWzF+pbQKXxYCkhfta5OmXkXHirPnZo2d1FTdL7TXHWORkSrpvIfM/DSPlbOeQsAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 26px;
    width: 30px;
}
.mz-captcha-open .mz-btn {
    float: right;
}
.mz-input {
    background-color: #fff;
    border: 1px solid #efefef;
    color: #666;
    height: 36px;
    outline: 0 none;
    padding: 0 10px;
    width: 178px;
}
.mz-input:hover {
    border-color: #bdbdbd;
}
.mz-input:active, .mz-input:focus {
    border-color: #00c3f5;
}
.mz-input-warp {
    position: relative;
}
.mz-input-warp .mz-input-tips, .mz-input-warp::after {
    bottom: -17px;
    color: #e02b41;
    display: none;
    font-size: 12px;
    left: 2px;
    line-height: normal;
    position: absolute;
}
.mz-input-warp::after {
    content: attr(data-tips);
}
.mz-input-warp.tips .mz-input-tips, .mz-input-warp.tips::after {
    display: block;
}
.mz-input-warp.tips .mz-input {
    border-color: #e02b41;
    color: #e02b41;
}
.order-address .order-address-triangle, .order-address .order-address-triangle::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    height: 0;
    width: 0;
}
.order-address {
    background-color: #fff;
    margin: 10px 0;
    padding: 0 40px 10px;
    position: relative;
}
.order-address .order-address-triangle {
    border-top: 6px solid #999;
    position: relative;
    transition: border-color 0.8s ease 0s;
}
.order-address .order-address-triangle::after {
    border-top: 6px solid #fff;
    content: "";
    left: -8px;
    position: absolute;
    top: -8px;
}
.order-address .order-address-title {
    border-bottom: 1px solid #efefef;
    font-size: 18px;
    font-weight: bolder;
    padding: 20px 0;
    text-indent: 10px;
}
.order-address .order-address-title-tips {
    background-color: #e6f9fe;
    border: 1px solid #00c3f5;
    color: #00c3f5;
    display: none;
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
    padding: 5px 10px;
    text-indent: 0;
    vertical-align: middle;
}
.order-address .order-address-title-tips .order-address-tips-icon {
    background-color: #00c3f5;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-style: normal;
    height: 14px;
    line-height: 14px;
    margin-right: 5px;
    text-align: center;
    width: 14px;
}
.order-address .order-address-checkbox.checked .order-address-checkbox-checked, .order-address .order-address-checkbox.disabled:hover .order-address-checkbox-tips {
    display: block;
}
.order-address .order-address-checkbox, .order-address .order-address-checkbox.disabled:hover {
    border: 1px solid #efefef;
    padding: 1px 16px;
}
.order-address .order-address-title-tips .order-address-tips-icon::after {
    content: "!";
}
.order-address .order-address-list {
    height: 174px;
    margin-top: 30px;
    overflow: hidden;
    transition: height 0.8s ease 0s;
}
.order-address .order-address-checkbox {
    cursor: pointer;
    float: left;
    height: 144px;
    margin: 0 0 30px 12px;
    position: relative;
    transition: border-color 0.8s ease 0s;
    width: 275px;
}
.order-address .order-address-checkbox .order-address-checkbox-delete, .order-address .order-address-checkbox .order-address-checkbox-edit {
    float: right;
    margin-right: 10px;
}
.order-address .order-address-checkbox.disabled {
    background-color: #f5f5f5;
}
.order-address .order-address-checkbox.checked, .order-address .order-address-checkbox:hover {
    border: 2px solid #00c3f5;
    padding: 0 15px;
}
.order-address .order-address-checkbox:hover .order-address-checkbox-ctrl {
    opacity: 1;
}
.order-address .order-address-checkbox:hover .order-address-add-icon {
    background-color: #00c3f5;
}
.order-address .order-address-checkbox:hover .order-address-add-text {
    color: #00c3f5;
}
.order-address .order-address-checkbox .order-address-checkbox-checked {
    bottom: 0;
    display: none;
    height: 30px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 30px;
}
.order-address .order-address-checkbox .order-address-checkbox-checked::before {
    border-right: 30px solid #00c3f5;
    border-top: 30px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}
.order-address .order-address-checkbox .order-address-checkbox-checked::after {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJBAMAAAAbVLtZAAAAJFBMVEUAAAD6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fl911MYAAAAC3RSTlMAcmL5TYuwloNhPwGhwdUAAAA1SURBVAjXYwADZQcwxbRbgIELSGtvZGCQDgBzGZy3grkMLNZBIC5QYPdGsGLO3QUQzW0gAgBJ7gno+zgkXwAAAABJRU5ErkJggg==");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    height: 20px;
    position: absolute;
    right: 0;
    width: 20px;
}
.order-address .order-address-checkbox .order-address-checkbox-top {
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    font-weight: bolder;
    height: 40px;
    padding-top: 15px;
}
.order-address .order-address-checkbox .order-address-checkbox-top .order-address-checkbox-name {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 125px;
    word-break: keep-all;
}
.order-address .order-address-checkbox .order-address-checkbox-top .order-address-checkbox-phone {
    float: right;
}
.order-address .order-address-checkbox .order-address-checkbox-content {
    color: #515151;
    font-size: 12px;
    max-height: 70px;
    overflow: hidden;
    padding-top: 10px;
    word-break: break-all;
    word-wrap: break-word;
}
.order-address .order-address-checkbox .order-address-checkbox-ctrl {
    bottom: -20px;
    color: #00c3f5;
    font-size: 14px;
    height: 20px;
    left: 0;
    opacity: 0;
    padding-top: 5px;
    position: absolute;
    width: 100%;
}
.order-address .order-address-checkbox .order-address-checkbox-delete::after {
    content: "删除";
}
.order-address .order-address-checkbox .order-address-checkbox-edit::after {
    content: "修改";
}
.order-address .order-address-checkbox .order-address-checkbox-tips {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 14px;
    height: 100%;
    left: 0;
    line-height: 20px;
    padding: 28px;
    position: absolute;
    top: 0;
    width: 100%;
}
.order-address .order-address-checkbox .order-address-checkbox-row {
    margin-top: 10px;
    text-align: center;
}
.order-address .order-address-checkbox .order-address-checkbox-perfect::after {
    background-color: #00c3f5;
    border-radius: 4px;
    color: #fff;
    content: "立即完善";
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    height: 26px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    width: 78px;
}
.order-address .order-address-checkbox .order-address-add-icon {
    background-color: #bdbdbd;
    border-radius: 100%;
    height: 30px;
    margin-left: 107px;
    margin-top: 50px;
    position: relative;
    transition: background-color 0.8s ease 0s;
    width: 30px;
}
.order-address .order-address-checkbox .order-address-add-icon::before {
    background-color: #fff;
    content: "";
    height: 4px;
    left: 7px;
    position: absolute;
    top: 13px;
    width: 16px;
}
.order-address .order-address-checkbox .order-address-add-icon::after {
    background-color: #fff;
    content: "";
    height: 16px;
    left: 13px;
    position: absolute;
    top: 7px;
    width: 4px;
}
.order-address .order-address-checkbox .order-address-add-text {
    color: #999;
    font-size: 12px;
    margin-top: 8px;
    text-align: center;
    transition: color 0.8s ease 0s;
}
.order-address .order-address-bottom {
    text-align: center;
}
.order-address .order-address-more {
    color: #999;
    cursor: pointer;
    display: none;
    font-size: 12px;
    position: relative;
    transition: color 0.8s ease 0s;
}
.order-address .order-address-more:hover {
    color: #00c3f5;
}
.order-address .order-address-more:hover .order-address-triangle {
    border-top-color: #00c3f5;
}
.order-address .order-address-more .order-address-triangle {
    top: 10px;
}
.address-adder {
    margin-left: -380px;
    width: 760px;
}
.address-adder .mz-dialog-content {
    width: 700px;
}
.address-adder .address-adder-content {
    padding-left: 40px;
}
.address-adder .address-adder-row {
    line-height: 36px;
    margin-bottom: 24px;
}
.address-adder .address-adder-title {
    color: #666;
    float: left;
    margin-right: 10px;
    min-width: 77px;
}
.address-adder .mz-input-warp {
    float: left;
}
.address-adder .address-adder-must {
    color: #00c3f5;
}
.address-adder .address-adder-name {
    margin-right: 30px;
    width: 158px;
}
.address-adder .mz-selectmenu {
    width: 103px;
}
.address-adder .mz-address .mz-address-other {
    bottom: -60px;
    left: 0;
    position: absolute;
    width: 490px;
}
.address-adder .address-adder-detail {
    width: 490px;
}
.address-adder .address-adder-other {
    display: none;
}
.mz-address .mz-selectmenu {
    margin-right: 10px;
}
.mz-address .mz-address-other {
    display: inline-block;
    height: 35px;
    position: relative;
    vertical-align: middle;
    width: 85px;
}
.mz-address .mz-address-input {
    height: 100%;
    width: 100%;
}
.mz-downmenu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #e3e4e4 #e3e4e4;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    display: none;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 9999;
}
.mz-selectmenu, .order-discount, .order-product .order-product-remark {
    overflow: hidden;
}
.mz-downmenu .mz-downmenu-list {
    border-bottom: 1px solid #e3e4e4;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.mz-downmenu .mz-downmenu-item {
    cursor: pointer;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
    text-align: left;
    text-indent: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mz-downmenu .mz-downmenu-item:hover {
    background: #e3e4e4 none repeat scroll 0 0;
}
.mz-selectmenu {
    border: 1px solid #e3e4e4;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 10px 0 5px;
    position: relative;
    vertical-align: middle;
    width: 85px;
}
.mz-selectmenu::after {
    background: rgba(0, 0, 0, 0) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAVUlEQVQImW3JIQoAIRQAUW/uAcSkiEFMNo/xsdkFr/KR2bBpWSe+MeYSYK+41uKHYwxaa3xw702MkZzzO1TVigilFFJK1Fox5xw758R7j3OOEAK9dx6bOUG5mOo+QwAAAABJRU5ErkJggg==") no-repeat scroll 0 0;
    bottom: 3px;
    content: " ";
    height: 6px;
    position: absolute;
    right: 3px;
    width: 6px;
}
.mz-selectmenu .mz-downmenu-input {
    border: medium none;
    height: 100%;
    outline: 0 none;
    width: 100%;
}
.order-product {
    background-color: #fff;
    padding: 0 40px 30px;
}
.order-product .order-product-module {
    margin-bottom: 30px;
}
.order-product .order-product-module:last-child {
    margin-bottom: 0;
}
.order-product .order-product-title {
    font-size: 18px;
    font-weight: bolder;
    padding: 25px 0;
    text-indent: 10px;
}
.order-product .order-product-table-name {
    text-align: left;
    width: 464px;
}
.order-product .order-product-table-price {
    text-align: center;
    width: 204px;
}
.order-product .order-product-table-price .order-product-price {
    margin-left: 30px;
}
.order-product .order-product-table-price .order-product-price.cancel {
    margin-left: 0;
}
.order-product .order-product-table-num {
    text-align: center;
    width: 140px;
}
.order-product .order-product-table-total {
    text-align: center;
    width: 160px;
}
.order-product .order-product-table-express {
    color: #666;
    line-height: 25px;
    text-align: center;
    width: 192px;
}
.order-product table {
    border: 1px solid #efefef;
}
.order-product thead {
    border-bottom: 1px solid #efefef;
    font-size: 18px;
}
.order-product thead tr {
    height: 62px;
}
.order-product tbody tr {
    border-top: 1px solid #efefef;
    height: 150px;
}
.order-product tbody .order-product-table-express {
    border-left: 1px solid #efefef;
}
.order-product tbody .order-product-table-price {
    text-align: left;
}
.order-product tfoot {
    border-top: 1px solid #efefef;
    color: #666;
    vertical-align: top;
}
.order-product tfoot tr {
    background-color: #f5f5f5;
    height: 108px;
}
.order-product .order-product-table-child {
    border-top: 0 none;
    height: 120px;
}
.order-product .order-product-table-child.first {
    border-top: 1px dashed #efefef;
}
.order-product .order-product-table-child td:first-child {
    position: relative;
}
.order-product .order-product-table-child td:first-child::after, .order-product .order-product-table-child td:first-child::before {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: -1px;
    width: 40px;
}
.order-product .order-product-table-child td:first-child::before {
    left: 0;
}
.order-product .order-product-table-child td:first-child::after {
    right: 0;
}
.order-product .order-product-table-child .order-product-image {
    height: 80px;
    margin: 0 40px;
    width: 80px;
}
.order-product .order-product-group {
    color: #00c3f5;
}
.order-product .order-product-image {
    height: 102px;
    margin-left: 18px;
    margin-right: 10px;
    vertical-align: middle;
    width: 102px;
}
.order-product .order-product-name {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}
.order-product .order-product-link {
    color: #666;
    line-height: 22px;
}
.order-product .order-product-price {
    font-size: 16px;
    font-weight: bolder;
}
.order-product .order-product-price::before {
    content: "￥";
    margin-right: 2px;
}
.order-product .order-product-price.sub::before {
    content: "-￥";
}
.order-product .order-product-price.red {
    color: #e02b41;
}
.order-product .order-product-price.cancel {
    color: #b6b6b6;
    font-size: 14px;
    text-decoration: line-through;
}
.order-product .order-product-price.cancel::before {
    margin-right: 0;
}
.order-product .order-product-discount {
    cursor: pointer;
    font-size: 12px;
    height: 32px;
    margin-top: 2px;
    position: relative;
    width: 200px;
}
.order-product .order-product-discount.more:hover .order-product-discount-title {
    border-bottom: 0 none;
    border-radius: 4px 4px 0 0;
}
.order-product .order-product-discount.more:hover .order-product-discount-title .order-product-discount-triangle::after {
    border-bottom: 4px solid #e02b41;
    border-top: 0 none;
}
.order-product .order-product-discount.more:hover .order-product-discount-downmenu {
    display: block;
}
.order-product .order-product-discount .order-product-price {
    font-size: 12px;
    margin-left: 0;
}
.order-product .order-product-discount .order-product-discount-title {
    background-color: #ffedf0;
    border: 1px solid #e02b41;
    border-radius: 4px;
    color: #e02b41;
    display: inline-block;
    left: 30px;
    padding: 6px;
    position: absolute;
    top: 0;
    z-index: 2;
}
.order-product .order-product-discount .order-product-discount-triangle {
    display: inline-block;
    margin-left: 6px;
    position: relative;
    vertical-align: middle;
    width: 8px;
}
.order-product .order-product-discount .order-product-discount-triangle::after {
    border-color: #e02b41 transparent -moz-use-text-color;
    border-style: solid solid none;
    border-width: 4px 4px 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -3px;
    transition: all 0.3s ease 0s;
    width: 0;
}
.order-product .order-product-discount .order-product-discount-downmenu {
    background-color: #ffedf0;
    border: 1px solid #e02b41;
    border-radius: 0 4px 4px;
    color: #666;
    display: none;
    left: 30px;
    padding-top: 8px;
    position: absolute;
    text-align: left;
    top: 28px;
    width: auto;
    z-index: 1;
}
.order-product .order-product-discount .order-product-discount-downmenu .order-product-discount-item {
    padding: 0 6px 6px;
}
.order-product .order-product-info {
    float: left;
    font-size: 12px;
    margin: 15px 0 0 25px;
}
.order-product .order-product-supplier {
    color: #666;
    cursor: pointer;
    display: none;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
    position: relative;
}
.order-product .order-product-supplier:hover .order-product-supplier-tips {
    display: inline-block;
}
.order-product .order-product-supplier .order-product-supplier-name {
    color: #00c3f5;
}
.order-product .order-product-supplier .order-product-supplier-tips {
    background-color: #eee;
    border: 1px solid #efefef;
    display: none;
    margin-left: 10px;
    margin-top: -5px;
    padding: 4px 6px;
    position: absolute;
    vertical-align: middle;
}
.order-product .order-product-supplier .order-product-supplier-tips::after, .order-product .order-product-supplier .order-product-supplier-tips::before {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: 4px;
    width: 0;
}
.order-product .order-product-supplier .order-product-supplier-tips::before {
    border-right: 8px solid #efefef;
    left: -8px;
}
.order-product .order-product-supplier .order-product-supplier-tips::after {
    border-right: 8px solid #eee;
    left: -6px;
}
.order-product .order-product-arrival-icon {
    background-color: #00c3f5;
    border-radius: 4px;
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    position: relative;
    vertical-align: text-bottom;
    width: 20px;
}
.order-product .order-product-arrival-icon::before {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAASCAMAAABYd88+AAAAS1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////+DmQsHAAAAGHRSTlMAFbliDsKnlGrv6NzTekYtIQbMsVtUTDxgkIuYAAAAYElEQVQIHQXBhYECQQAAsew5Li9M/5WSAPCaARjrAeBxaQDcT00ARzUD9qoFLFPVBp7Xqv7gc66q07r/ut+2a1WdH+Cn6vIES9V7AHM1LYCpthdg1A7g6AbAOgMw/gF8AdrkBi1XOR1dAAAAAElFTkSuQmCC");
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    content: "";
    font-size: 14px;
    height: 20px;
    left: 0;
    line-height: 18px;
    position: absolute;
    text-indent: 15px;
    top: 0;
    width: 20px;
    z-index: 2;
}
.order-product .order-product-invoice {
    height: 21px;
    margin-bottom: 10px;
}
.order-product .order-product-invoice .order-product-invoice-label {
    cursor: pointer;
}
.order-product .order-product-invoice .order-product-invoice-label:first-child {
    margin-left: 10px;
    margin-right: 30px;
}
.order-product .order-product-invoice .order-product-invoice-input {
    border: 1px solid #efefef;
    height: 25px;
    margin-top: -5px;
    outline: 0 none;
    padding: 5px;
    width: 248px;
}
.order-product .order-product-invoice .order-product-invoice-radio {
    margin-right: 5px;
}
.order-product .order-product-invoice .order-product-invoice-type {
    float: left;
    margin-right: 30px;
}
.order-product .order-product-invoice .order-product-invoice-icon {
    background-color: #00c3f5;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-left: 5px;
    text-align: center;
    width: 14px;
}
.order-product .order-product-invoice .order-product-invoice-icon::after {
    content: "?";
}
.order-product .order-product-invoice .order-product-invoice-title {
    float: left;
}
.order-product .order-product-invoice .order-product-invoice-title.paper {
    display: none;
}
.order-product .order-product-remark .order-product-remark-title {
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;
}
.order-product .order-product-remark .order-product-remark-input {
    background-color: #fff;
    border: 1px solid #efefef;
    height: 48px;
    margin-left: 5px;
    outline: 0 none;
    padding: 5px;
    resize: none;
    width: 552px;
}
.order-product .order-product-countdown {
    color: #e02b41;
    font-size: 12px;
    margin-left: 30px;
}
.einvoice-detail .einvoice-detail-link, .order-discount .order-discount-item-header:hover .order-discount-item-title, .order-discount .order-discount-item.open .order-discount-item-title {
    color: #00c3f5;
}
.order-product .order-product-total {
    float: right;
    font-size: 16px;
    font-weight: bolder;
    margin: 40px 20px 0 0;
}
.order-product .order-product-total .order-product-price {
    font-size: 22px;
}
.einvoice-detail .q::before {
    content: "Q：";
}
.einvoice-detail .a {
    margin-bottom: 30px;
}
.einvoice-detail .a::before {
    content: "A：";
}
.order-discount {
    background-color: #fff;
    margin-top: 10px;
    padding: 0 40px;
    position: relative;
}
.order-discount .order-discount-header {
    font-size: 18px;
    font-weight: bolder;
    padding: 25px 0;
    text-indent: 10px;
}
.order-discount .order-discount-list {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e4e4e4 #e4e4e4 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    margin-bottom: 30px;
}
.order-discount .order-discount-item {
    background-color: #fff;
}
.order-discount .order-discount-item.open .order-discount-item-title::before {
    content: "-";
}
.order-discount .order-discount-item.open .order-discount-item-content {
    display: block;
}
.order-discount .order-discount-item-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
}
.order-discount .order-discount-item-title {
    float: left;
    margin-left: 12px;
}
.order-discount .order-discount-item-title::before {
    content: "+";
    display: inline-block;
    width: 12px;
}
.order-discount .order-discount-item-right {
    float: right;
    margin-right: 10px;
}
.order-discount .order-discount-item-price {
    color: #e02b41;
}
.order-discount .order-discount-item-price::before {
    content: "-￥";
}
.order-discount .order-discount-item-content {
    border-bottom: 1px solid #e4e4e4;
    display: none;
    position: relative;
}
.order-discount-content-mask {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.order-discount-content-mask .order-discount-content-tips {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    color: #fff;
    left: 50%;
    margin-left: -135px;
    margin-top: -40px;
    padding: 20px 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 270px;
}
.order-discount-content-mask .order-discount-content-tips .order-discount-content-tips-header {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
}
.order-discount-content-mask .order-discount-content-tips .order-discount-content-tips-header::before {
    border: 1px solid #fff;
    border-radius: 100%;
    content: "!";
    display: inline-block;
    font-size: 12px;
    height: 20px;
    line-height: 18px;
    margin-right: 5px;
    text-align: center;
    width: 20px;
}
.order-discount-content-mask .order-discount-content-tips .order-discount-content-tips-content {
    font-size: 12px;
    word-break: break-all;
}
.order-discount-coupon {
    padding: 60px 55px 30px;
}
.order-discount-coupon .order-discount-coupon-item {
    float: left;
    margin-bottom: 30px;
    margin-right: 20px;
}
.order-discount-coupon .order-discount-coupon-item::after {
    position: absolute;
}
.order-discount-coupon .order-discount-coupon-item.checked .order-discount-coupon-checkbox {
    background-color: #00c3f5;
    border-color: #00c3f5;
}
.order-discount-coupon .order-discount-coupon-item.checked .order-discount-coupon-checkbox::after {
    display: block;
}
.order-discount-coupon .order-discount-coupon-tick {
    border: 1px solid #efefef;
    border-radius: 4px;
    cursor: pointer;
    height: 106px;
    padding: 6px 20px 8px 12px;
    position: relative;
    width: 241px;
}
.order-discount-coupon .order-discount-coupon-tick::before {
    background-color: #f0415f;
    border-radius: 0 4px 4px 0;
    content: "";
    height: 106px;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 11px;
}
.order-discount-coupon .order-discount-coupon-tick::after {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAABqCAMAAABODRsfAAAAV1BMVEX////////////////////////////////////////////////////////////////////////////////////////////////////////////////////c7HqBAAAAHXRSTlP9AhII9uyxOy7lypZ+Tt3Uw6OOhnFjKB7Qvl1WRaywy/QAAACPSURBVBgZBcGFYQRBAAAhZk/e3WL91xkwlcqpuEy4AQBufOWvVKbiFX4xA+CMt/0nlco6wgcXAMCLY0apbIprOAAAVnaTn1KpzKdwwgyAHbbO21QqhxHzwB4A8OSeUSrbYg0PAMCVZThOqVR277DBAoAZG8smlcpximXgGwDwYJ1sS2UU9/AEAOwxHEYq1T9AkwOZSgycHwAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    content: "";
    height: 106px;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 11px;
}
.order-discount-coupon .order-discount-coupon-tick.single::before {
    background-color: #f09646;
}
.order-discount-coupon .order-discount-coupon-tick.single .order-discount-coupon-top-left {
    color: #f09646;
}
.order-discount-coupon .order-discount-coupon-tick.single .order-discount-coupon-range-link {
    display: none;
}
.order-discount-coupon .order-discount-coupon-tick.single .order-discount-coupon-range-text {
    width: 200px;
}
.order-discount-coupon .order-discount-coupon-desc, .order-discount-coupon .order-discount-coupon-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.order-discount-coupon .order-discount-coupon-top-left {
    color: #f0415f;
    float: left;
    margin-left: -6px;
    text-align: center;
}
.order-discount-coupon .order-discount-coupon-price {
    font-size: 26px;
}
.order-discount-coupon .order-discount-coupon-price::before {
    content: "￥";
    font-size: 12px;
    vertical-align: super;
}
.order-discount-coupon .order-discount-coupon-type {
    font-size: 12px;
    margin-top: -5px;
}
.order-discount-coupon .order-discount-coupon-type::before {
    content: "（";
}
.order-discount-coupon .order-discount-coupon-type::after {
    content: "）";
}
.order-discount-coupon .order-discount-coupon-top-right {
    color: #909090;
    float: left;
    font-size: 12px;
    margin-left: 10px;
    max-width: 128px;
}
.order-discount-coupon .order-discount-coupon-title {
    color: #666;
    font-weight: bolder;
    margin: 8px 0 5px;
}
.order-discount-coupon .order-discount-coupon-bottom {
    border-top: 1px solid #efefef;
    color: #909090;
    font-size: 12px;
    margin-top: 5px;
}
.order-discount-coupon .order-discount-coupon-time {
    font-size: 10px;
    margin-top: 5px;
}
.order-discount-coupon .order-discount-coupon-range-text {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
}
.order-discount-coupon .order-discount-coupon-range-link {
    color: #666;
    float: right;
}
.order-discount-coupon .order-discount-coupon-footer {
    margin-top: 10px;
    text-align: center;
}
.order-discount-coupon .order-discount-coupon-checkbox {
    border: 1px solid #efefef;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 20px;
}
.order-discount-coupon .order-discount-coupon-checkbox::after {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJBAMAAAAbVLtZAAAAJFBMVEUAAAD6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fl911MYAAAAC3RSTlMAcmL5TYuwloNhPwGhwdUAAAA1SURBVAjXYwADZQcwxbRbgIELSGtvZGCQDgBzGZy3grkMLNZBIC5QYPdGsGLO3QUQzW0gAgBJ7gno+zgkXwAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    content: "";
    display: none;
    height: 8px;
    left: 3px;
    position: absolute;
    top: 5px;
    width: 12px;
}
.order-discount-red {
    padding: 60px 0 40px 55px;
}
.order-discount-red .order-discount-red-item {
    float: left;
    margin-bottom: 30px;
    margin-right: 20px;
}
.order-discount-red .order-discount-red-item.checked .order-discount-red-checkbox {
    background-color: #00c3f5;
    border-color: #00c3f5;
}
.order-discount-red .order-discount-red-item.checked .order-discount-red-checkbox::after {
    display: block;
}
.order-discount-red .order-discount-red-tick {
    border: 1px solid #ee435f;
    border-radius: 4px;
    height: 106px;
    padding: 15px 24px 0 8px;
    position: relative;
    width: 242px;
}
.order-discount-red .order-discount-red-tick::after {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABqCAMAAACGYfHJAAAASFBMVEUAAADuQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/uQ1/SZkwaAAAAF3RSTlMA7yHBmm7grZBbEvTqiHNI1cmlPC0ZgdAcmYwAAADZSURBVDjLndU5coRAEEXBXmigGQY0i1T3v6lCWITSmeCbGeWU9dJp37eIPKfzhvjb/SQljmWOIs5H0AwtN2gLaIT2gCZoCahJFSoBNalCS0Bdekor9A6oSZO0QiWgLs1SlTJUAtqlTRqkKo1SQEV6SV1q0l0apEmq0kP6kkYpX6W4SvkqjR/9+JCqNEmDdJea1KWXVKQU0ihVaZA2aZeKlLJUpVnqUpHSKk1Sk95SWqWn1KVFSlVqUpFSlZq0SGmSdsgOWSubZvnsoxX1zCLnf90+In3ez5HyX72eg9ZcYB57AAAAAElFTkSuQmCC");
    content: "";
    height: 106px;
    position: absolute;
    right: -1px;
    top: -1px;
    width: 18px;
}
.order-discount-red .order-discount-red-top {
    height: 30px;
    margin-bottom: 20px;
}
.order-discount-red .order-discount-red-price {
    color: #e02b41;
    float: left;
    font-size: 30px;
    margin-right: 8px;
    vertical-align: bottom;
}
.order-discount-red .order-discount-red-price::before {
    content: "￥";
    font-size: 12px;
    vertical-align: super;
}
.order-discount-red .order-discount-red-name {
    color: #666;
    float: left;
    margin-top: 15px;
    max-width: 112px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.order-discount-red .order-discount-red-time {
    border-top: 1px solid #efefef;
    color: #909090;
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
}
.order-discount-red .order-discount-red-footer {
    margin-top: 10px;
    text-align: center;
}
.order-discount-red .order-discount-red-checkbox {
    border: 1px solid #efefef;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 20px;
}
.order-discount-red .order-discount-red-checkbox::after {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJBAMAAAAbVLtZAAAAJFBMVEUAAAD6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fn6+fl911MYAAAAC3RSTlMAcmL5TYuwloNhPwGhwdUAAAA1SURBVAjXYwADZQcwxbRbgIELSGtvZGCQDgBzGZy3grkMLNZBIC5QYPdGsGLO3QUQzW0gAgBJ7gno+zgkXwAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    content: "";
    display: none;
    height: 8px;
    left: 3px;
    position: absolute;
    top: 5px;
    width: 12px;
}
.order-discount-repo {
    margin-top: 10px;
    padding: 25px 0 10px 35px;
}
.order-discount-repo .order-discount-repo-tips {
    color: #e02b41;
    margin-left: 10px;
}
.order-discount-repo .order-discout-repo-text {
    margin-bottom: 30px;
}
.order-discount-repo .order-discout-repo-text .order-discount-repo-selected-num {
    color: #00c3f5;
    font-weight: bolder;
    margin: 0 5px;
}
.order-discount-repo .order-discout-repo-text .order-discount-repo-selected-price {
    color: #e02b41;
    font-weight: bolder;
    margin-left: 5px;
}
.order-discount-repo .order-discout-repo-text .order-discount-repo-selected-price::before {
    content: "￥";
}
.order-discount-repo .order-discount-repo-checkbox {
    background-color: #00c3f5;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 90px;
    margin-bottom: 30px;
    margin-right: 35px;
    position: relative;
    transition: all 0.5s ease 0s;
    vertical-align: middle;
    width: 240px;
}
.order-discount-repo .order-discount-repo-checkbox.checked, .order-discount-repo .order-discount-repo-checkbox:hover {
    background-color: #00ade6;
}
.order-discount-repo .order-discount-repo-checkbox.checked .order-discount-repo-checkbox-checked {
    display: block;
}
.order-discount-repo .order-discount-repo-checkbox::after {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAABaCAMAAACxDCsoAAAAP1BMVEUAAAD////////////////////////////////////////////////////////////////////////////y8vKAfGvJAAAAE3RSTlMA50nkUeDbVAb68KyJW8K9g6aUZxO/CgAAAUFJREFUeNrtnMluxCAQRAvbgPEyG/n/b40UC2UZ58DMqavr3fvwZKtLgFSojYIuYptLMMBSG9/CEV1c2twFBkgnwiu6mNrcBAOsJ8I7+rgdYzdYYH8WHmd0Ml2X5Wri+wLz+CScQU3+K7yBnO238AP0PH4IJ/L/+SCnL+ES132GC+Z9jQVC/M8HnCFhC4TBk/AwogZPwqH6Ex4HOGIIEEIYXlrKYXZh5TC78BD8LS0hyAi+Dg/KYX5h5TC1sMfTkoTZUQ5TE6o/YeUwtbBiScJ8wrqXpkY5zI7eh9mXloQdCCuHqYV1L82OclgI20tLOcwurBxmF9a9tBDm0fsw9dJSDrMLK4clLGFhjSXds5dai3yP5SguMVIh9B7TUVzipIoH2HyXD/mrl/JXIOauIs5fCSB1zWM8ES4vNkVGGKDUxifCHSKBrhL1swAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.order-discount-repo .order-discount-repo-checkbox-title {
    font-size: 16px;
    left: 23px;
    position: absolute;
    top: 13px;
}
.order-discount-repo .order-discount-repo-checkbox-title::after {
    content: "回购券";
    display: block;
    overflow: hidden;
    white-space: normal;
    width: 20px;
    word-break: break-all;
    word-wrap: break-word;
}
.order-discount-repo .order-discount-repo-checkbox-price {
    font-size: 26px;
    left: 78px;
    position: absolute;
    top: 20px;
}
.order-discount-repo .order-discount-repo-checkbox-price::before {
    content: "￥";
}
.order-discount-repo .order-discount-repo-checkbox-sn {
    font-size: 12px;
    left: 82px;
    position: absolute;
    top: 55px;
}
.order-discount-repo .order-discount-repo-checkbox-checked {
    background-color: #fff;
    border: 2px solid #00ade6;
    border-radius: 100%;
    display: none;
    height: 24px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 24px;
    z-index: 2;
}
.order-discount-repo .order-discount-repo-checkbox-checked::after {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAMAAAA1k+1bAAAAUVBMVEUAAAAAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYAreYP51BXAAAAGnRSTlMABBMC6tD69vPEwLWnHRgPAe3i2rmIeWcyIxehTU4AAABISURBVAjXY0AC/KxiSDwmFikuBglxZjiPlZFBSIobzOfjkOJkZGDgZZcSgVBcjHBhSTYpbpgmQSlhNikeZiQjpXgEkC0UhfIAxNoDHHhvOHEAAAAASUVORK5CYII=");
    content: "";
    display: block;
    height: 9px;
    left: 3px;
    position: absolute;
    top: 7px;
    width: 14px;
}
.order-discount-repo .order-discount-repo-enter-title {
    color: #00c3f5;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 40px 0 35px;
    vertical-align: middle;
}
.order-discount-repo .order-discount-repo-enter-content {
    display: none;
    position: relative;
}
.order-discount-repo .order-discount-repo-enter-content .order-discount-repo-enter-row {
    margin-bottom: 50px;
}
.order-discount-repo .order-discount-repo-enter-content .order-discount-repo-enter-input {
    background-color: #fff;
    border: 1px solid #efefef;
    height: 36px;
    margin: 0 22px;
    outline: 0 none;
    padding: 10px;
    width: 230px;
}
